/*Common*/
*{
    margin: 0;
    list-style:none;
    padding:0;
    text-decoration: none;
    box-sizing: border-box;
}

.wrapper{
    margin: 10 px;
}

/*Sidebar*/
.wrapper .sidebar{
    position: fixed;
    background: #123559;
    width: 200px;
    height: 100%;
    transition: all 0.3s ease;
}

.wrapper .sidebar .hamburger{
    min-width: 60px;
    height: 50px;
    background: #123559;
    padding: 15px 17px;
    cursor: pointer;
}

.wrapper .sidebar .hamburger div{
    width: 18px;
    height: 2px;
    background: #fff;
    margin: 5px 0px;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 15px;
    position: relative;
    margin-bottom: 1px;
    color: #fff;
    white-space: nowrap;
}

.wrapper .sidebar ul li a:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: #fff;
    display: none;
}

.wrapper .sidebar ul li a span.icon{
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
}

.wrapper .sidebar ul li a span.title{
    display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
    background: #2C5682;
    color: #fff;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
}

/*Top menu*/
.wrapper .top_menu{
    width: 100%;
    height: 50px;
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid lightgrey;
}

.wrapper .top_menu .system_name{
    margin-left: 200px;
    color: #123559;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.3s ease;

}

.wrapper .top_menu a{
    background: lightgrey;
    color: black;
    padding: 7px;
    font-size: 12px;
    border-radius: 10px;
    margin-left: 0px;
}

.wrapper .top_menu a:hover{
    text-decoration: underline;
}

/*Content*/
.wrapper .main_container{
    width: calc(100% - 200px);
    margin-left: 200px;
    padding: 15px;
    transition: all 0.3s ease;
    text-align: center;
}

/*Form*/
.form_create{
    margin: 30px auto;
    width: auto;
    justify-content: center;
    text-align: center;
}

.form_create .input_field{
    margin: 20px auto 25px auto;
    display: flex;
    justify-content: center;
}

.input_field input{
    max-width: 320px;
    width: 100%;
    height: 35px;
    outline: none;
    margin-left: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 7px;
}

.input_field label{
    margin-top: 4px;
}

/*MultiSelect*/
.selection_multiple{
    position: relative;
    width: 100%;
    height: 35px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 7px;
}

.select-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 6px;
    font-size: 10px;
}

.select-btn.open ~ .list-items{
    display: block;
}

.select-btn .btn-text{
    font-size: 12px;
    color: grey;
}

.select-btn .btn-text.active {
    color: black;
}

.select-btn .arrow-dwn{
    display: flex;
    height: 21px;
    width: 21px;
    color: #2C5682;
    font-size: 13px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.select-btn.open .arrow-dwn{
    transform: rotate(-180deg);
    transition: 0.3s;
}

.list-items{
    position: relative;
    width: 100%;
    margin-top: 15px;
    border-radius: 6px;
    padding: 10px 5px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    display: none;
}

.list-items .item{
    display: flex;
    align-items: center;
    list-style: none;
    height: 35px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}

.list-items .item:hover{
    background-color: #e7edfe;
}

.item .item-text{
    font-size: 14px;
    color: #333;
}

.item .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1px solid #c0c0c0;
    transition: all 0.2s ease-in-out;
}

.checkbox .check-icon{
    color: #fff;
    font-size: 11px;
    transform: scale(0);
}

.item.checked .checkbox{
    background-color: #2C5682;
    border-color: #2C5682;
}

.item.checked .check-icon{
    transform: scale(1);
}

/*List-Table*/
h1 {
    text-align: center;
    color: #123559;
    margin-bottom: 40px;
}

.list-table{
    border-collapse: collapse;
    margin: 20px auto 20px auto;
    font-size: 16px;
    width: auto;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.list-table thead tr {
    background-color: #123559;
    color:white;
    text-align: left;
    font-weight: bold;
}

.list-table th,
.list-table td {
    padding: 10px 13px;
}

.list-table tbody tr{
    border-bottom:1px solid lightgrey;
    text-align: left;
}

.btn {
    background: lightgrey;
    padding: 8px;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    color: black;
    margin: 5px 5px;
}

.btn-red{
    background: red;
    color: white;
    padding: 7px 14px;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    margin: 5px 5px;
}

.btn-blue{
    background: #123559;
    color: white;
    padding: 7px 14px;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    margin: 5px 5px;
}

/*Form-Table*/
.form-table{
    border-collapse: collapse;
    margin: 20px auto 30px auto;
    font-size: 16px;
    width: auto;
}

.form-table td {
    padding: 10px 13px;
    text-align: left;
}

.form-table td input{
    position: relative;
    width: 100%;
    height: 35px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 7px;
}

.form-table td select{
    position: relative;
    width: 100%;
    height: 35px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 7px;
}

.form-table td .multiple_P select{
    position: relative;
    width: 100%;
    height: 70px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 7px;
}

/*Collapse*/
.wrapper.collapse .sidebar{
    width: 60px;
}

.wrapper.collapse .sidebar ul li a{
    text-align: center;
}

.wrapper.collapse .sidebar ul li a span.icon{
    margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title{
    display: none;
}

.wrapper.collapse .main_container{
    width: calc(100% - 60px);
    margin-left: 60px;
}

.wrapper.collapse .top_menu .system_name{
    margin-left: 60px;
}