<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>勤怠管理システム</title>

    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/css/multi-select-tag.css">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://kit.fontawesome.com/24bd1a3804.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script>
        $(document).ready(function(){
                $(".hamburger").click(function(){
                    $(".wrapper").toggleClass("collapse");
                });
            });
    </script>
</head>
<body>
<div class="wrapper">
    <div class="sidebar" th:fragment="sidebar">
        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <ul>
            <li><a href="/worktimes">
                <span class="icon"><i class="fa-solid fa-clipboard-list" aria-hidden="true"></i></span>
                <span class="title">勤怠時間管理</span>
            </a></li>

            <li><a href="/members">
                <span class="icon"><i class="fa-solid fa-user"></i></span>
                <span class="title">メンバー管理</span>
            </a></li>

            <li><a href="/departments">
                <span class="icon"><i class="fa-solid fa-building" aria-hidden="true"></i></span>
                <span class="title">部署管理</span>
            </a></li>

            <li><a href="/jobTypes">
                <span class="icon"><i class="fa-solid fa-briefcase"></i></span>
                <span class="title">作業内容管理</span>
            </a></li>

            <li><a href="/projects">
                <span class="icon"><i class="fa-solid fa-bars-progress"></i></span>
                <span class="title">プロジェクト管理</span>
            </a></li>

            <li><a href="/summary">
                <span class="icon"><i class="fa-solid fa-table-list"></i></span>
                <span class="title">集計</span>
            </a></li>
        </ul>
    </div>

    <div class="top_menu" th:fragment="top_menu">
        <div class="system_name">勤怠管理システム</div>
        <a href="/logout">ログアウト</a>
    </div>

    <div class="main_container">
        <div class="item">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Proin tortor purus platea sit eu id nisi litora libero. Neque vulputate consequat ac amet augue blandit maximus aliquet congue. Pharetra vestibulum posuere ornare faucibus fusce dictumst orci aenean eu facilisis ut volutpat commodo senectus purus himenaeos fames primis convallis nisi.
        </div>
        <div class="item">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Proin tortor purus platea sit eu id nisi litora libero. Neque vulputate consequat ac amet augue blandit maximus aliquet congue. Pharetra vestibulum posuere ornare faucibus fusce dictumst orci aenean eu facilisis ut volutpat commodo senectus purus himenaeos fames primis convallis nisi.
        </div>
        <div class="item">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Proin tortor purus platea sit eu id nisi litora libero. Neque vulputate consequat ac amet augue blandit maximus aliquet congue. Pharetra vestibulum posuere ornare faucibus fusce dictumst orci aenean eu facilisis ut volutpat commodo senectus purus himenaeos fames primis convallis nisi.
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>