<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout :: head}"></head>

<body>
<div class="wrapper">
    <div th:replace="~{layout :: sidebar}"></div>
    <div th:replace="~{layout :: top_menu}"></div>
    <div class="main_container">
        <h1>メンバーリスト</h1>
        <p><strong th:text="'Department: ' + ${departmentName}"></strong></p>
        <table class="list-table">
            <thead>
            <tr>
                <th>No.</th>
                <th>Username</th>
                <th>名前</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="user, iterStat : ${users}">
                <td th:text="${iterStat.count}"></td>
                <td th:text="${user.userName}"></td>
                <td th:text="${user.fullName}"></td>
            </tr>
            </tbody>
        </table>

        <div style="text-align: center;">
            <a class="btn" href="http://localhost:8080/departments" role="button">戻る</a>
        </div>
    </div>
</div>
</body>
</html>